@import '~@/assets/css/var';
@import '~@/assets/css/fonts';

.footer {
  left: 0;
  right: 0;
  bottom: 36px / $H * 100%;
  position: absolute;

  text-align: center;

  &::after {
    content: '';
  }

  @media #{$mobile}, #{$mobile-landscape} {
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-flow: row wrap;

    margin: 0 15px;
    margin-top: 50px;

    padding-bottom: 40px;
  }
}
.footer > a {
  bottom: 0;
  position: absolute;
  z-index: 1;

  display: flex;

  opacity: 50%;

  &:hover {
    opacity: 100%;
  }

  @media #{$mobile}, #{$mobile-landscape} {
    position: static;
    display: flex;
    width: 50%;
  }
}
.footer-logo-gaijin {
  left: 30px;

  width: 113px;
  height: 53px;
  background: url('~@/assets/img/gaijin-logo.png') 50% no-repeat;
  background-size: contain;

  @media #{$mobile}, #{$mobile-landscape} {
    margin-top: 20px;
    background-position: 0;
  }
}
.footer-logo-age {
  right: 30px;

  width: 42px;
  height: 51px;
  background: url('~@/assets/img/pegi.png') 50% no-repeat;
  background-size: contain;

  @media #{$mobile}, #{$mobile-landscape} {
    margin-top: 20px;
    background-position: 100% 0;
  }
}
.footer menu {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-flow: row wrap;

  margin: 0;
  padding: 0;
  list-style: none;

  @media #{$mobile}, #{$mobile-landscape} {
    position: static;
    margin: auto;
    margin-top: -10px;
  }
}
.footer menu a {
  @include footer;

  margin: 0 10px;

  opacity: 50%;

  &:hover {
    opacity: 100%;
  }

  @media #{$mobile}, #{$mobile-landscape} {
    margin-top: 10px;
  }
}
